.hide { display: none; background: red; }
.title-area img { width : 320px; }

#footer { background: #02bdb8; padding: 20px 0; }
#footer li a { color: #d6fbfa; }
#footer li a:hover { color: #ffffff; }
#footer p {font-size: .75em; color: #017976;}

#press tr { padding: 10px 0; border-bottom: 1px solid #eee;}
#press td { padding: 5px;}