.hide { display: none; }
.title-area img { width : 320px; }

#footer { background: #02bdb8; padding: 20px 0; }
#footer li a { color: #d6fbfa; }
#footer li a:hover { color: #ffffff; }
#footer p {font-size: .75em; color: #017976;}

#page-Press { }
#page-Press tr { border-bottom: 1px solid #eee;}
#page-Press td { padding: 20px 20px 20px 0; }

.socialmedia a:hover { -webkit-filter: grayscale(50%); }

#cheetahWidget2012_contactable_inner, #cheetahWidget2012_contactForm  {
	background-color: #02bdb8!important;
}

.success span.has-tip { color: #ffffff;}

#sidebar ul { list-style-type: none; }

.reveal-modal {	z-index: 9999!important; }
.reveal-modal-bg {	z-index: 9998!important; }