/* line 1, ../sass/custom.scss */
.hide {
  display: none;
}

/* line 2, ../sass/custom.scss */
.title-area img {
  width: 320px;
}

/* line 4, ../sass/custom.scss */
#footer {
  background: #02bdb8;
  padding: 20px 0;
}

/* line 5, ../sass/custom.scss */
#footer li a {
  color: #d6fbfa;
}

/* line 6, ../sass/custom.scss */
#footer li a:hover {
  color: #ffffff;
}

/* line 7, ../sass/custom.scss */
#footer p {
  font-size: .75em;
  color: #017976;
}

/* line 10, ../sass/custom.scss */
#page-Press tr {
  border-bottom: 1px solid #eee;
}

/* line 11, ../sass/custom.scss */
#page-Press td {
  padding: 20px 20px 20px 0;
}

/* line 13, ../sass/custom.scss */
.socialmedia a:hover {
  -webkit-filter: grayscale(50%);
}

/* line 15, ../sass/custom.scss */
#cheetahWidget2012_contactable_inner, #cheetahWidget2012_contactForm {
  background-color: #02bdb8 !important;
}

/* line 19, ../sass/custom.scss */
.success span.has-tip {
  color: #ffffff;
}

/* line 21, ../sass/custom.scss */
#sidebar ul {
  list-style-type: none;
}

/* line 23, ../sass/custom.scss */
.reveal-modal {
  z-index: 9999 !important;
}

/* line 24, ../sass/custom.scss */
.reveal-modal-bg {
  z-index: 9998 !important;
}
